.memory {
    height: 800px;
    width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    // span.memory__card {
    //     &:before {
    //         content: '';
    //         height: 100%;
    //         width: 100%;
    //         z-index: 10;
    //         position: absolute;
    //         background: wheat;
    //     }
    // }
    &__card {
        display: flex;
        width: 200px;
        height: 267px;
        background: wheat;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        transform: rotateY(180deg);
        transition: 500ms;
        font-size: 0;
        margin: 15px;
        &--rotate {
            transform: rotateY(0deg);
            font-size: 30px;
            pointer-events: none;
        }
        &--correct {
            box-shadow: green 0px 0px 30px;
        }
        &--relative {
            position: relative;
        }
        &--img {
            max-height: 90%;
            max-width: 90%;
            display: none;
        }
        &--block {
            display: block;
        }
    }
}